@keyframes FadeIn {

    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: FadeIn 0.3s ease-in-out;
}

.dashboard__sider {
	min-height: calc(100vh - 70px);
}