body{
    width: 100%;
}

.header{
    display: flex;
    padding: auto;
    margin: 10px 20px;
}
.header img{
    width: 10%;
    height: auto;   
}

.body{
    background-color: #CD141A;
    display: flex;  
}
.login{
  border: 2px solid #000; /* 2px là độ dày của khung, #000 là màu đen */
  padding: 20px;
  background-color: white;
}